@import 'colours'

$button-size= 35px
$button-size-small= 20px

.circle-button
  height: $button-size
  background: 0
  border: none
  cursor: pointer
  margin-left: 5px
  padding: 0
  text-align: center
  border-radius: $button-size
  svg
    overflow: visible
    width: $button-size
    height: $button-size
    fill: white
    color: $button-grey
  &:hover
    svg
      filter: drop-shadow(0 2px 2px rgba(0,0,0,0.2))
      color: $button-red
