$background-color= #fefefe
$font-color= #333333

$light-grey= #eeeeee
$dark-grey= #dcdcdc

$song-background= $light-grey
$song-hover-color= $dark-grey

$tomato-red= #D2312B
$button-red= tomato
$button-grey= #aaa
