@import '../../styles/colours'

$song-padding-hoz= 8px
$song-padding-vert= 15px
$song-border-radius= 5px
$song-bottom-margin= 3px


.song
  display: flex
  list-style: none
  margin-bottom: $song-bottom-margin

  &:hover
    .tag
      background-color: $dark-grey
    button
      svg
        color: tomato
    .iconPlay
      transform: translateX(-30px)


.shortlisted
  @extend .song
  .circleButton
    opacity: 0
  .iconSelected
    display: inline
  .iconPlay
    opacity: 0

.open
  @extend .song
  .iconPlay
    opacity: 0
  .tag
    background: $song-background
    padding-bottom: 15px

.oponAndShortlisted
  @extend .song
  .circleButton
    opacity: 0
  .iconSelected
    display: inline
  .iconPlay
    opacity: 0
  .tag
    background: $song-background
    padding-bottom: 15px

.iconSelected,
.iconPlay
  width: 14px
  height: 14px
  position: absolute
  transition: transform ease-out 200ms
  top: 12px

.iconPlay
  fill: white
  right: -20px

.iconSelected
  right: 10px
  fill: rgba(199,235,95,1)
  display: none

.tag
  overflow: hidden
  cursor: pointer
  border-radius: 5px
  background: $song-background
  flex: 1
  padding: 10px $song-padding-vert
  position: relative


.songAudio
  height: 0
  padding-bottom: 56.25%
  margin-top: 15px
  position: relative
  width: 100%

  iframe
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%


.bigList
  .tag
    overflow: hidden

