@import '../../styles/helpers'

.header
  padding: 18px
  border-bottom: solid 3px tomato
  display: flex

.logo-container
  flex: 1
  display: none
  +media-wider-then(700px)
    display: block

.logo
  width: 200px
  height: 35px
