@import '../../styles/colours'
@import '../../styles/helpers'

.playerDisplay
  align-items: center
  display: flex
  flex: 1
  justify-content: center

.currentSong
  display: flex
  flex-direction: column
  flex: 1
  min-width: 0
  text-align: center

  span
    overflow: hidden
    table-layout: fixed
    text-overflow: ellipsis
    white-space: nowrap

.song
  display: block
  font-weight: bold
  padding-bottom: 5px
