@import '../../styles/colours'
@import 'control_panel'

.box
  display: flex
  justify-content: center
  align-items: center
  width: 100%

.random
  @extend .button-big
  position: relative
  svg
    @extend .play

.random&:hover .i-feel-lucky
  transform: translateX(10px)
  opacity: 1
  z-index: 0

.i-feel-lucky
  position: absolute
  top: 8px
  left: 20px
  letter-spacing: 1px
  min-width: 170px
  font-size: 14px
  opacity: 0
  will-change: transform, opacity
  transition-property: opacity transform
  transition-duration: 100ms


