.header
  padding: 18px
  border-bottom: solid 3px tomato
  display: flex

.logo
  position: absolute
  width: 200px
  height: 35px

.player
  display: flex
  flex: 1
  align-items: center
  justify-content: center
